/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15/11/2022, 9:44:09 p. m.
    Author     : User
*/

body {
  margin: 0;
  padding: 0;
  background-image: url(imagen/fondo.jpg);
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  width: 370px;
  height: auto;
  background: #ccffcc;
  color: #00ff33;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 25px;
  border-radius: 15px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  font-size: 24px;
}
.login-box p{
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  font-size: 14px;
}
.login-box h4{
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
  font-size: 20px;
}

.login-box input {
  width: 90%;
  margin-bottom: 20px;
}

.login-box input[type="text"],.login-box input[type="password"],.login-box input[type="email"] {
  border: none;
  border-bottom: 1px solid #00ff33;
  background: transparent;
  outline: none;
  height: 30px;
  color:#00ff33;
  font-size: 16px;
}
.login-box input[type="text"]:placeholder, .login-box input[type="password"]:placeholder, .login-box input[type="email"]:placeholder {
    color: #00ff33;
}
.login-box input[type="submit"], .login-box input[type="button"] {
  border: none;
  outline: none;
  height: 35px;
  width: 140px;
  background: #ccffcc;
  color: #00ff33;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover, .login-box input[type="button"]:hover {
  cursor: pointer;
  background: #ccffc;
  color:#009933;
}

.login-box a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  display: flow-root;
  margin-top: 10px;
  color: #00ff33;
  font-size: 18px;
}

.login-box a:hover {
  color: #00ff33;
}
         
#id::placeholder{
            color: #00ff33;
          }
#name::placeholder{
            color:#00ff33;
          }
#email::placeholder{
            color: #00ff33;
         
          }
#pass::placeholder{
            color: #00ff33;
}
.letra{
    font-size: 18px;
    
}
.titulo{
    
}